<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjs.zanbi.dao.SendRecordMapper">
  <resultMap id="BaseResultMap" type="com.jjs.zanbi.model.SendRecord">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sender_id" jdbcType="INTEGER" property="senderId" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="sender_ip" jdbcType="VARCHAR" property="senderIp" />
  </resultMap>


    <sql id="base_column_with_alias">
        ${alias}.ID as ${prefix}ID,
        ${alias}.SENDER_ID as ${prefix}SENDER_ID,
        ${alias}.SEND_TIME as ${prefix}SEND_TIME,
        ${alias}.REMARK as ${prefix}REMARK,
        ${alias}.SENDER_IP as ${prefix}SENDER_IP
    </sql>



</mapper>