<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjs.zanbi.dao.SendRecordDetailMapper">
  <resultMap id="BaseResultMap" type="com.jjs.zanbi.model.SendRecordDetail">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sender_id" jdbcType="INTEGER" property="senderId" />
    <result column="receiver_id" jdbcType="INTEGER" property="receiverId" />
    <result column="zb_count" jdbcType="INTEGER" property="zbCount" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="send_main_id" jdbcType="INTEGER" property="sendMainId" />
  </resultMap>




    <resultMap id="detailListMap" type="com.jjs.zanbi.model.SendRecordDetail" extends="com.jjs.zanbi.dao.SendRecordDetailMapper.BaseResultMap">

        <association property="sendRecord" columnPrefix="b_" column="b_ID" resultMap="com.jjs.zanbi.dao.SendRecordMapper.BaseResultMap">
        </association>

        <association property="sender" column="SENDER_ID" javaType="com.jjs.zanbi.model.Worker" select="com.jjs.zanbi.dao.WorkerMapper.selectByPrimaryKey"></association>
        <association property="receiver" column="RECEIVER_ID" javaType="com.jjs.zanbi.model.Worker" select="com.jjs.zanbi.dao.WorkerMapper.selectByPrimaryKey"></association>
    </resultMap>

    <!-- 联合查询主记录 -->
    <select id="selectByPage" resultMap="detailListMap" parameterType="com.jjs.zanbi.querybean.SendRecordQueryBean">
        select
        a.*,
          <include refid="com.jjs.zanbi.dao.SendRecordMapper.base_column_with_alias">
              <property name="alias" value="b"></property>
              <property name="prefix" value="b_"></property>
          </include>
        from
        send_record_detail a
        left join send_record b
        on a.SEND_MAIN_ID=b.ID

        <where>
            <if test="senderId != null">a.SENDER_ID = #{senderId}</if>
            <if test="receiverId != null">a.RECEIVER_ID = #{receiverId}</if>
            <if test="sendTimeStart != null">a.SEND_TIME &gt;= #{sendTimeStart}</if>
            <if test="sendTimeEnd != null">a.SEND_TIME &lt;= #{sendTimeEnd}</if>

        </where>
    </select>







</mapper>