<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjs.zanbi.dao.ZbRoleMapper">
  <resultMap id="BaseResultMap" type="com.jjs.zanbi.model.ZbRole">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="zb_count" jdbcType="INTEGER" property="zbCount" />
    <result column="zb_compute_type" jdbcType="VARCHAR" property="zbComputeType" />
    <result column="calculate" jdbcType="VARCHAR" property="calculate" />
  </resultMap>
</mapper>